{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs"
    }],
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
