# ==============================================================================
# Build
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

/build/
/configs/

# Files
# ------------------------------------------------------------------------------

posthtml.config.js
postcss.config.js

# ==============================================================================
# Built
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

/dist/
