# ==============================================================================
# Dependency
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

# Node

/node_modules/

# Bower

/bower_components/

# Jspm

/jspm_packages/

# ==============================================================================
# Cache
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

/cache/

# Files
# ------------------------------------------------------------------------------

# NPM

.npm

# Eslint

.eslintcache

# ==============================================================================
# Logs
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

/logs/

# Files
# ------------------------------------------------------------------------------

*.log

# NPM

npm-debug.log*

# Yarn

yarn-debug.log*
yarn-error.log*

# ==============================================================================
# Jest
# ==============================================================================

# Files
# ------------------------------------------------------------------------------

.jest_coverage

# ==============================================================================
# Development
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

# /assets/
# /src/
# /static/
# /test/specs/

# Files
# ------------------------------------------------------------------------------

# index.html

# ==============================================================================
# Built
# ==============================================================================

# Directories
# ------------------------------------------------------------------------------

# /dist/
